@font-face {
    font-family: avenir-book;
    src:url('../files/font/Avenir LT 45 Book.ttf')
}

@font-face {
    font-family:avenirnextdemibold;
    src:url('../files/font/avenirnextdemibolditalic.otf')
}

@font-face{
    font-family:avenir-light;
    src:url('../files/font/Avenir LT 35 Light.ttf');
}

@font-face {
    font-family: avenir-medium;
    src:url('../files/font/Avenir LT 65 Medium.ttf')
}
@font-face {
    font-family: avenirnextlight;
    src:url('../files/font/Avenir Next Ultra Light.ttf')
}

body {
    font-family: Avenir;
    padding: 12px 20px;
    color:#333333;
    font-size:14px;
    line-height: 22px;
    background-color: #fcfcfc;
}




/*
bootstrap rewrite section
*/

.navbar-brand { position: relative; z-index: 999; }

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2; padding: 4px 20px;
    margin: 10px auto; }

.navbar .navbar-collapse {
    position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar-default {
    margin-bottom: -1em;
    background-color: transparent;
    border-color: transparent;
}
/*button的颜色*/
.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: transparent;
}

/*控制展开时导航背景颜色*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
    background-color: transparent;
}

/*选中效果*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #000;
    background-color: transparent;
}

/*menu button*/

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 0px;
}


.navbar .nav-collapse { position: absolute; z-index: -1; top: 20px; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: transparent; }
.navbar.navbar-inverse .nav-collapse { background-color: transparent; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }


@media (min-width: 1200px){
    .container {
        width: 1170px;
    }}

@media (max-width: 820px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


@media (max-width: 979px){
    .navbar .container {
        width: auto;
        padding-left: 30px;

    }}

@media (min-width: 1200px){
    .container {
        width: 1170px;
        padding-left: 20px;

    }}

@media (max-width: 1199px) and (min-width: 1070px){
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width:1090px;
    }}

@media (max-width: 1070px) and (min-width: 960px){
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 990px;
    }}


@media (max-width: 960px) and (min-width: 780px){
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 770px;
    }}
@media (max-width: 780px){
    .container {
        width: 200px;

    }}


/*padding of li*/
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 5px;
}



.department{
    margin-top: -0.2em;
    font-family: avenir-book;
    font-size: 1em;
    margin-bottom: 0.1em;
}
/* Typeface and Text Size */

.name{
    margin-left:0px;
    margin-top:3px;
    font-family: Futura;
    font-size:32px;
    color: #555555;
}


.portrait{
    border-radius: 100px;
    margin-top: 5px;
}


.menu{
    margin-left:-20px;
    margin-top:-9px;
    line-height:60px;
}

.ctnt{
    margin-top: 20px;
    margin-left: -10px;
}
#active1{

}
.menu ul li{
    display: inline-block;
    margin-left:12px;
}

.menu p{
    font-size:30px;
    font-color:#555555;
}

.emailtext{
    text-align: left;
    font-family: avenir-book;
    color:#333333;
    padding-left:0px;
    margin-left:0px;
    display: inline-block;
}

.addresstext{
    text-align: left;
    font-family: avenir-book;
    color:#333333;
    padding-left:0px;
    margin-top: -5px;
    display: inline-block;
}


/*talks*/
.date {
    text-align: right;
    font-family: avenir-light ;
    font-size: 14px;
    margin-top:5px;
    margin-left:0px;
    padding-right: 0px;

}

@media screen and (min-width: 701px) {

    .leftforsm {
        display:none;
    }

}
@media screen and (max-width: 700px) {

    .leftforbig {
        display:none;
    }

}


.year{
    font-size: 20px;

}
.date2 {
    text-align: left;
    font-family: avenir-light ;
    font-size: 16px;
    margin-top: -5px;
    margin-left: 0px;
    padding-right: 0px;
    display: inline-block;

}
.talkstheme{
    text-align: left;
    font-family: avenir-medium ;
    margin-left:-30px;


}

.location{
    text-align: left;
    font-family: avenirnextlight;
    font-style: italic;
    margin-left:-33px;
    margin-top: -10px;
    margin-bottom: -1px;
}

.newscontent{
    font-family: Avenir;

}
/*hover*/

.greenhoref{
    margin-left: 10px;
    color: #6bdd9f;
}

.greenhoref:hover{
    color:#309d39;
    cursor: hand;
}
.menuhover{
    margin-top: 5px;
    color:#999999;
    font-family: Futura;
    font-size:30px;

}


.menuhover:hover{
    color:#666666;
}

.active{
    color:#000000;
    font-family: Futura;
    font-size:16px;
}


.conthover{
    color:#333333;
    font-family: avenir-medium ;
    font-size: 14px;
    font-weight: 600;

}
.conthover:hover{
    color:#6bdd9f;
}


.biohref{
    color:#333333
}

.biohref:hover{
    color:#666666;
}
.bio{
    font-size:14px;
    font-family:avenir-book;
    word-wrap: break-word;
    margin-left: 5px;

}
.line{
    margin-left:0px;
    border-color: #cccccc;
}

.line2{
    border-color: #6bdd9f;
    border-width: 3px;
    width: 33px;
    margin-top: 8px;

}
.pubcont{

}

.here{
    color:#6bdd9f;
    font-family: avenir-medium;
}

.cvhover{
    display: inline-block;
    margin-bottom: 10px;
    color: #6bdd9f;
    font-family: avenir-medium ;
    cursor: hand ;
}

.cvhover:hover{
    color:#309d39
}

.here:hover{
    color:#309d39;
}

.pubimg {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    box-shadow: 1px 1px 5px #cccccc;

}

/*pub*/
.pubtitle{
    font-family: "Avenir Next" ;
    font-weight: 500;
    color:#333333;
    font-size:16px;
}

.pubtitle:hover{
    color:#000000;
    cursor: hand ;
}
/*title*/
h3{
    font-family: Futura ;
    line-height: 18px;
    font-size:1.2em;
    color:#444444;
    margin: 0 0 4px;
    font-weight:600;
    letter-spacing: 1px
}

.arrow{
    margin-left: 10px;
    font-size:14px;
    font-family: Avenir;
    color: #6bdd9f;
    display: inline-block;
}

.arrow img{
    margin-bottom:2px;
    margin-left:-7px;
}

.arrow:hover{
    color:#309d39;
    cursor: hand ;
}

.arrow img:hover{
    color:#309d39;
}

.season{
    text-align: right;
    font-family: avenir-light;
    font-style: normal;
    color: #6bdd9f;
    font-size:15px;
    line-height: 20px;
    margin-top: 40px;
}


a:hover {
    text-decoration: none;
}


.menuhover2{
    margin-top: 5px;
    color:#999999;
    font-family: Futura;
    font-size:15px;

}

.biotitle{
    margin-top: -1px;
    font-family: avenirnextlight ;
    font-size:26px;
    display: inline-block;
}









