


.line{
    margin-left:0px;
    border-color: #cccccc;
}

.biotitle{
    margin-top: -1px;
    font-family: avenirnextlight ;
    font-size:26px;
    display: inline-block;
}

.overview{
    margin-left: -10px;
    font-family: avenir-book;
}

