@media print {
  body { font-size:9pt; }

.leftSide {
	font-size:8pt;
}
  .breakAfter {
	page-break-after:always;
	padding-bottom: 1em;
  }
}

@media screen {
  body { font-size:.95em; }
}



body, td { font-family: Arial, sans-serif, Century Gothic, sans-serif, Verdana, Helvetica; line-height:1.3em;
}

a {text-decoration: none;color: inherit}
a:hover, a.nav:hover { color: #C00; text-decoration: underline; }

.MyName {
	font-family: "Lucida Grande", sans-serif; font-size:3.1em; margin-top: 0em; padding-top:0em;
	font-variant:small-caps; font-stretch:extra-expanded; 
	 line-height:1.2em}


.emailHead{
 padding-top:0.5em; line-height:1.4em;
 font-weight:200;
 font-size:0.9em;
 color: #888;
}

.sectionHead{
 font-variant:small-caps; 
 padding-top:0.55em;
 padding-bottom:0;
 font-weight:200;
 page-break-after:avoid;
 font-size:1.3em;
 color: #888;
}

.note {
	font-variant:small-caps; font-size:.85em; vertical-align:top
	}

.paperTitle { font-weight:bold}
.venue{font-style:italic; font-weight:200;}


html {margin:0;}

.leftSide {
 float: left;
 width: 125px;
 margin-right: 15px;
 padding-left: 5px;
 text-align: right;
 font-size: .95em;
 font-variant:small-caps
}

.rightSide {
margin-left: 145px;
}

table {
	border-collapse:collapse;
}

td         {
	padding-right: 0.625em;
	padding-top: 0;
	padding-bottom:0.42em;
	vertical-align: top;
	page-break-inside: avoid;
}

tr {
	page-break-inside: avoid;
}

