@font-face {
    font-family: avenir-book;
    src:url('../files/font/Avenir LT 45 Book.ttf')
}

@font-face {
    font-family:avenirnextdemibold;
    src:url('../files/font/avenirnextdemibolditalic.otf')
}

@font-face{
    font-family:avenir-light;
    src:url('../files/font/Avenir LT 35 Light.ttf');
}

@font-face {
    font-family: avenir-medium;
    src:url('../files/font/Avenir LT 65 Medium.ttf')
}
@font-face {
    font-family: avenirnextlight;
    src:url('../files/font/Avenir Next Ultra Light.ttf')
}

body {
    font-family: Avenir;
    padding: 12px 20px;
    color:#333333;
    font-size:14px;
    line-height: 22px;
}

@media screen and (max-width: 700px) {

    .leftforbig {
        display:none;
    }

}




@media screen and (min-width: 701px) {

    .leftforsm {
        display:none;
    }

}
/*
bootstrap rewrite section
*/

.navbar-brand { position: relative; z-index: 999; }

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2; padding: 4px 20px;
    margin: 10px auto; }

.navbar .navbar-collapse {
    position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar-default {
    margin-bottom: -1em;
    background-color: transparent;
    border-color: transparent;
}
/*button的颜色*/
.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: transparent;
}

/*控制展开时导航背景颜色*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
    background-color: transparent;
}

/*选中效果*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #000;
    background-color: transparent;
}

/*menu button*/

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 0px;
}


.navbar .nav-collapse { position: absolute; z-index: -1; top: 20px; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: transparent; }
.navbar.navbar-inverse .nav-collapse { background-color: transparent; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }


@media (min-width: 1200px){
.container {
    width: 1100px;
}}


@media (max-width: 840px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        margin-left: 1em;
        float: none!important;
        margin:20px -15px;
    }
    .navbar-nav>ul{
        margin-left: 2em;

    }
    .navbar-nav>li {

        float:left ;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 10px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


@media (max-width: 979px){
    .navbar .container {
        width: auto;
        padding-left: 30px;

    }}

@media (min-width: 1200px){
    .container {
        width: 1120px;
        padding-left: 20px;

    }}

@media (max-width: 1199px) and (min-width: 1070px){
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width:1090px;
    }}

@media (max-width: 1070px) and (min-width: 960px){
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 990px;
    }}


@media (max-width: 960px) and (min-width: 780px){
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 770px;
    }}
@media (max-width: 780px){
    .container {
        width: 200px;

    }}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 5px;
}



.name{
    position:;
    margin-left:0px;
    margin-top:3px;
    font-family: Futura;
    font-size:33px;
    color: #555555;
}


#sponsorship{
    display: block;
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*margin-left:30px;*/
    /*margin-right:1em;*/

}

.menu{
    margin-left:-20px;
    margin-top:-9px;
    line-height:60px;
}


.menu ul li{
    display: inline-block;
    margin-left:12px;
}

.menu p{
    font-size:10px;
    font-color:#555555;
}
/*left colum*/

.portrait{

    margin-top: 30px;
}

#department{
    font-family: avenir-book;
}

#emailtext{
    font-family: avenir-book;
    color:#333333;
    padding-left:0px;
}

#addresstext{
    font-size: 13px;
    text-align: left;
    font-family: avenir-book;
    color:#333333;

}



/*talks*/
.date {
    text-align: left;
    font-family: avenir-light ;
    font-size: 14px;
    margin-top:5px;

    display: inline-block;

}
.talkstheme{
    text-align: left;
    font-family: avenir-medium ;
    margin-bottom: 0px;



}
.location{
    text-align: left;
    font-family: avenirnextlight;
    font-style: italic;
    margin-bottom: 10px;

}

.year{
    font-size: 20px;

}
.date2 {
    text-align: left;
    font-family: avenir-light ;
    font-size: 14px;
    margin-top: -5px;
    margin-left: 0px;
    padding-right: 0px;
    display: inline-block;

}

#about{
    font-size: 15px;
    margin-left:5px;
    line-height: 25px;
}

.newscontent{
    margin-left: 5px;
    font-family: Avenir;

}



#pubcont{
     margin-left: -10px;
 }


.pubimg {
    margin-top: 5px;
    margin-bottom: 30px;
    margin-right: -40px;
    box-shadow: 1px 1px 5px #cccccc;

}

.pubtitle{

    font-family: "Avenir Next" ;
    font-weight: 600;
    color:#333333;
    font-size:16px;
}

/*hover*/

.greenhoref{
    margin-left: 10px;
    color: #6bdd9f;
}

.greenhoref:hover{
     color:#309d39;
     cursor: hand;
 }

h3:hover{
    cursor: hand;
}

.menuhover{
    margin-top: 5px;
    color:#999999;
    font-family: Futura;
    font-size:16px;

}

.menuhover2{
    margin-top: 5px;
    color:#999999;
    font-family: Futura;
    font-size:15px;

}


.menuhover:hover{
    color:#666666;
}



.active{
    color:#000000;
    font-family: Futura;
    font-size:16px;
}
.conthover{
    color:#333333;
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 15px;
    font-weight: 600;

}
.conthover:hover{
    color:#6bdd9f;
}


.biohref{
    color:#333333
}

.biohref:hover{
    color:#666666;
}

#acm{
    color: #6bdd9f;
}
.bio{
     font-size:14px;
     font-family:avenir-book;
     word-wrap: break-word;
     margin-left: 5px;

 }
.line{
    margin-left:0px;
    border-color: #cccccc;
}

.line2{
    border-color: #6bdd9f;
    border-width: 3px;
    width: 33px;


}


.here{
    color:#6bdd9f;
    font-family: avenir-medium;
}

.cvhover{
    display: inline-block;
    margin-bottom: 0px;
    color: #6bdd9f;
    font-family: avenir-medium ;
    cursor: hand ;
}

.cvhover:hover{
    color:#309d39
}

.here:hover{
    color:#309d39;
}



.pubtitle:hover{
    color:#000000;
}
/*title*/
h3{
    font-family: Futura ;
    line-height: 10px;
    font-size:17px;
    color:#444444;
    margin: 0 0 4px;
    font-weight:600;
    letter-spacing: 1px
}

.ctnt{
    margin-left: 50px;}



.arrow {
    width: 19px;
    color: #000000;
    margin-top: -4px;
    margin-left: 7px;
}


.season{
    text-align: right;
    font-family: avenir-light;
    font-style: normal;
    font-size:15px;
    line-height: 20px;
}


a:hover {
    text-decoration: none;
}




.biotitle{
    margin-top: -1px;
    font-family: avenirnextlight ;
    font-size:26px;
    display: inline-block;
}






