

body { max-width: 960px; padding: 12px 20px; color: #000}

/* Typeface and Text Size */
body, td { font-family: Arial, sans-serif, Century Gothic, sans-serif, Verdana, Helvetica; font-size: 11px; line-height: 16px; }
p { margin: 0 0 12px; }
h1 { font-size: 28px; font-family: "New York"; font-weight: normal; margin-bottom: 0; }
h2, h3 { font-family: "New York"; line-height: 10px; font-size:10px; margin: 0 0 4px; font-weight:200; letter-spacing: 1px}
h4, h5 { font-size: 10px; font-family: "New York"; font-weight: bold; line-height: 16px; margin: 0; }
br.space { line-height: 0.25em; }

/* Hyperlinks */
a, a:visited, a:hover { color: #C00; text-decoration: none; }
a.nav, a.nav:visited { color: #C30; }
a:hover, a.nav:hover { color: #C00; text-decoration: underline; }

/* Tables */
table, tr, td { margin: 0; padding: 0; }
td { padding: 0px 0px 0px 0px; }
tr.visited td { color: #999; }

/* Lists */
ul { margin: 0; padding: 5px 0px 7px 20px; }
li { margin-bottom: 2px; }

/* Page Layout */
#main { margin-left: 230px; }
#info { float: left; width: 210px; }
#info td { padding: 0px 0px 4px 0px; }
#info div { margin-top: 25px; }


.margin {
 float: left;
 width: 185px;
 margin-right: 20px;
 padding-left: 0px;
 text-align: left;
}

.body { 
 margin-left: 205px;
 text-align: left;
}

.MyName {
				font-weight:500;
				font-family:  "New York", Century Gothic;
				 font-size:23px;
				margin-bottom: 0;
	}

.affliations {
	text-align:center;
}

.icon {
	padding-top: 0px;
	padding-right: 12px;
}
